<a href="https://colab.research.google.com/github/Ankitrj3/Ankitrj3/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Python

In [ ]:
# Python
# in-built function
print('Python')

Python

In [ ]:
# data type and variables
a = input("Enter the Value") #input takes the value in String only if we want to take value in another data type we need to typecast the value
print(type(a))
print(a)

Enter the Value12
<class 'str'>
12

In [ ]:
a = 12
b = 34
print(a/b)
print(a//b) # // this round the floor value left it dosen't consider decimals

0.35294117647058826
0

In [ ]:
a = int(input("Enter val 1 :"))
b = int(input("Enter val 2 :"))
c = int(input("Enter val 3 :"))

if(a>b and a>c):
  print("a is greater ")
elif(b>a and b>c):
  print("b is greater ")
else:
  print("c is greater ")

Enter val 1 :12
Enter val 2 :4
Enter val 3 :34
c is greater

Strings

In [ ]:
a = "ankit ranjan"
print(a)
# String is a Data Structure and Dynamic Data Type
type(a)

p = input("Enter String")
print(p)
type(p)

ankit ranjan
Enter Stringrockey
rockey

str

In [ ]:
a = input("Enter the String")
b = int(input("Enter the val"))
# print(a+b) we can't concatinate string and integer

Enter the Stringankir
Enter the val12

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = int(input("Enter the val 1 : "))
b = int(input("Enter the val 2 : "))
print('max value : ',max(a,b))
print('min value : ',min(a,b))

Enter the val 1 : 2
Enter the val 2 : 3
max value :  3
2

In [ ]:
a = 'ankit ranjan'
print(a.split())

['ankit', 'ranjan']

In [ ]:
a,b,c,d,e,f = map(str,input("Enter a sentence : ").split()) # map(datatype,value)
print(a,b,c,d,e,f)
print(b)

Enter a sentence : ankit is best friend of likhitha
ankit is best friend of likhitha
is

In [ ]:
# a,b,c,d,e = int(input()).split()  we can't split number in this way with typecast only split string in this way but this is not best practice
# a,b,c = input().split()
# print(a,b,c)
# for integers
a,b,c = map(int,input("Enter the value").split());
print(a,b,c)
type(a)
type(b)
type(c)

ENter the value12 34 23
12 34 23

int

In [ ]:
a = "ankit"
# String is immutable data structure
print(len(a))
a[3]
print(a[3])
print(type(a))
a[4] = 'l' # we can't change the value
print(a)

5
i
<class 'str'>

TypeError: 'str' object does not support item assignment

In [ ]:
a = 'ankitranjan'
# slicing
# a[start: end-1: skip-1]
print(a[2:5])
print(a[2:11:3])
print(a[1:5:2])

# positive slicing start < end
# negative slicing start > end
print(a[-1:-10:-2])

kit
krj
ni
njatk

In [60]:
a = 'Bangalore'
print(a[-1])
print(a[::-1])

e
erolagnaB

In [62]:
a = 'Bangalore'
print(a[-1:-4:-2])
print(a[-1:-5:-1])

eo
erol

In [63]:
a = 'Bangalore'
print(a[-5:-1:-2])# no output will give beacuse start is less

In [68]:
a = 'ankit'
if 'ki' in a: # this slicing window concept to match the string
  print('yes')
else:
  print('No')
b = 'rockey'
if 'ky' in b:
  print('yes')
else:
  print('No')

yes
No

In [70]:
a = input('Enter the value : ')
b = a[::-1]
if(a==b):
  print("palindrome")
else:
  print("not palindrome")

Enter the value : ana
palindrome

In [76]:
a = int(input('enter the value : '))
b = str(a)
if b == b[::-1]:
  print('palindrome')
else:
  print('not palindrome')

enter the value : 1233321
palindrome

In [84]:
# Loops

# for loop
# two ways to write for loop

a = "ankit"
for i in range(0,10,3):
  print(i,'->',a)

for i in a:
  # print(i)
  print(a)

0 -> ankit
3 -> ankit
6 -> ankit
9 -> ankit
ankit
ankit
ankit
ankit
ankit

In [87]:
# while
i = 1
while(i<=10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [90]:
a = input("Enter the name ")
count = 0
for i in a:
  # if i == 'a' or i=='e' or i=='i' or i=='o' or i=='u': # two ways to do
  if i in ('a','e','i','o','u'):
    count += 1
print('vowels in name ',count)

Enter the name ankit ranjan
vowels in name  4

In [93]:
a = input("Enter a String value : ")
# for i in range(0,len(a)):
#   print(a[i])

for i in a:
  print(i)

Enter a String value : ankit
a
n
k
i
t

In [98]:
# palindrome
a = input('enter the value')
b = ''
# for i in a:
#   b = b+i
# print(b)

# for reversing string
for i in a:
  b = i+b
print(b)

if a == b :
  print('palindrome')
else:
  print('not palindrome')

enter the valueanna
anna
palindrome

In [109]:
a = input('enter the value : ')
b = ''
for i in range (0,len(a)):
  b = a[i] + b

if a == b:
  print('palindrome')
else:
  print('not palindrome')

enter the value : ana
palindrome

In [111]:
# reverse the number without using slicing
a = 1232
reverse = 0
while(a > 0):
  remainder = a%10
  reverse = (reverse*10) + remainder
  a = a//10
print(reverse)

2321

In [120]:
# List Data Structure
# List is mutable

l=[12,23,45,'ankit','ranjan']
print(l)
l[4] = 'rockey'
l1 = []
print(l1)
l1.append(23)
l1.append(2)
print(l1)
l1.insert(0,2)
print(l1)

[12, 23, 45, 'ankit', 'ranjan']
[]
[23, 2]
[2, 23, 2]

In [130]:
l = [12,34,243,23,56,67]
print(l.pop(1))
print(l)

# how to run loop in a list
for i in l:
  print(i,end=' ' )

# for i in l:
#   print(i)

34
[12, 243, 23, 56, 67]
12 243 23 56 67

In [133]:
# count in list

l = [12,34,5,12,34,12,21,12,12]

l.count(12)
print(count)

for i in range(0,len(l)):
  print(i)

4
0
1
2
3
4
5
6
7
8

In [136]:
# l = [12,34,2,34,5,3,45,7,1]
# k = 8
l = [12,34,2,34,5,3,45,7,1]
k=8
for i in range(0 , len(l)):
  for j in range(i+1 , len(l)):
    if l[i]+l[j] == k:
      print(l[i] , l[j])

5 3
7 1

In [142]:
# reverse a list
l1 = [12,34,2,5,23]
reverse = []
for i in range(0,len(l1)):
  reverse.insert(0,l1[i])
print(reverse)

[23, 5, 2, 34, 12]

In [146]:
# write a code find the duplicate from list
lst = list(map(int,input("Enter the value in list : ").split()))
s = []# An a element is seen or not
duplicate = []
for i in lst:
  if i in s:
    if i not in duplicate:
      duplicate.append(i)
  else:
    s.append(i)
print(duplicate)
print(s)

Enter the value in list : 12 34 23 34 12 56
[34, 12]
[12, 34, 23, 56]

In [145]:
# write a program to sort the list

lst = list(map(int,input('enter the values in list : ').split()))
for i in range(0,len(lst)):
  for j in range(i+1,len(lst)):
    if(lst[i]>lst[j]):
      temp = lst[i]
      lst[i] = lst[j]
      lst[j] = temp

print(lst)

enter the values in list : 12 34 23 4 4 2 1 56 2 3 6 7
[1, 2, 2, 3, 4, 4, 6, 7, 12, 23, 34, 56]